* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.w-h {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.profile {
  position: relative;
}

.shadow {
  position: absolute;
  background-color: blue;
  top: 0;
  left: 7px;
}

.image {
  position: absolute;
  top: 3px;
}

img {
  object-fit: cover;
}

.icon {
  font-size: 1rem;
}

#icon {
  display: flex;
  align-items: center;
  top: 9px;
  position: absolute;
  z-index: 9999;
  background-color: blue;
  color: aliceblue;
  border-radius: 50%;
  padding: 10px;
}
